body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
  }
  
  a {
    color: #320674;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #70a591;
  }
  
  button {
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    font-size: 110%;
    background-color: #0c8eb6;
    border-radius: 15px;
    padding: 4px 12px;
    color: rgb(3, 10, 78);
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #8570a5;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 110%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: rgb(103, 17, 153);
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  